<h1>Tables</h1>

<div class="card-columns">

    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Mesa {{ ordersofserver[0].tableN }}</div>
        <div class="card-body">
          <h5 class="card-title">Estado: {{ ordersofserver[0].estado}}</h5>
          <p class="card-text">Precio: {{ ordersofserver[0].precio}}</p>
          <p class="card-text">Mesero: {{ ordersofserver[0].mesero}}</p>
          <p class="card-text">Tiempo: {{ ordersofserver[0].tiempo}} mn</p>
        </div>
      </div>
</div>
