<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <a class="navbar-brand " href="#">
        <img class="rounded-circle" src="assets/img/chef.jpg" width="60" height="60" alt="">
      </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <h2 class="nav-link" href="#">Web Desk</h2>
      </li>
   </ul>
    
  </div>
</nav>